.Game-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.Imagecontainer {
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.Imagecontainer img {
    width: 220px;
    height: 200px;
    transition: .7s;
}

.Imagecontainer img:hover {
    cursor: pointer;
    width: 260px;
    height: 350px;
    transition: .7s;
}

#textDark {
    color: #fff;
}

#textLight {
    color: #2a9d8f;
}