.Game-Container {
    position: absolute;
    left: 500px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 50px 0px;
}

.Background {
    background-color: rgb(12, 8, 8);
    width: 100vw;
    height: 40vh;
}

.Background-light {
    background-color: #fff;
    width: 100vw;
    height: 40vh;
}

.Game-Container img {
    height: 30px;
    width: 520px;
}

a {
    font-size: 1.6rem;
    background-color: #EE9B00;
    padding: 12px 25px;
    width: 300px;
    border-radius: 10px;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
}

#GameTitle {
    width: 300px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

#GameTitlecolor {
    color: #3a86ff;
    width: 300px;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin-bottom: 68px;
}

.Game-Info {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

#buy {
    display: flex;
    justify-content: center;
    align-items: center;
}

#cart {
    position: relative;
    left: 90px;
}

#Close {
    position: relative;
    left: 320px;
    top: -10px
}