

.container {
    width: 100vw;
    height: 50vh;
    display: flex;
    margin-top: 0px;
    margin-left: 200px;
    user-select: none;
}

#Image {
    width: 600px;
    height: 300px;
}

h2 {
    display: flex;
    justify-content: center;
}

.disable {
    display: none;
}



#Ps5 {
    position: absolute;
    right: 100px;
    top: 100px;
    animation: ps5;
    animation-duration: 2s;
}

@keyframes ps5 {
    0% {
        transform: rotate(1turn);
        position: absolute;
        right: -500px;
        top: 100px;
    }

    100% {
        position: absolute;
        right: 100px;
        top: 100px;
    }
}

#Ps5Blue {
    position: absolute;
    right: 100px;
    top: 130px;
    width: 530px;
}

.Bg-Container-dark {
    background-color: black;
    width: 600px;
    height: 300px;
    padding: 20px 20px 80px 20px;
    border-radius: 10px;
}

.Bg-Container-light {
    background-color: #d1d6fd;
    width: 600px;
    height: 300px;
    padding: 20px 20px 80px 20px;
    border-radius: 10px;
}

#BeforeOne {
    position: absolute;
    left: 137px;
    top: 307px;
}

#AfterOne {
    position: absolute;
    left: 815px;
    top: 309px;
}