.game-container {
    display: flex;
    margin-left: 25px;
  
}

.Container {
    margin-right: 30px;
}

#images {
    width: 284.5px;
    height: 170px;
    transition: .7s;
}

#image-slider {
    width: 280px;
    height: 170px;
    transition: .7s;
    transform: translateX(-1260px);
    transition: 1.5s;
}

#moveTitle,
#movePrice {
    transition: .7s;
    transform: translateX(-1260px);
    transition: 1.5s;
}

#Title,
#Price,
#images {
    transition: .7s;
    transform: translateX(0px);
    transition: 1.5s;
}

.light {
    color: #2a9d8f;
}

#DisabledPrev,
#DisableNext {
    display: none;
}

#moveTitle,
#Title {
    display: flex;
    justify-content: center;
}

#Price,
#movePrice {
    display: flex;
    justify-content: center;
}

#images:hover,
#image-slider:hover {
    cursor: pointer;
    width: 305px;
    height: 190px;
    transition: .7s;
}

#prev {
    position: absolute;
    bottom: 125px;
    left: -17px;
}

#Next {
    position: absolute;
    bottom: 125px;
    right: -16px;
}

